<div className='d-flex h-100 mt-5 py-sm-5'>
    <div className='m-auto'>
        <div>
            <h2 className="text-center  text-primary align-self-center">
                404
            </h2>
        </div>
        <div className="text-center text-secondary small ">
            Pagina não encontrada
        </div>
    </div>
    <div className="text-center">
        <h4>Ja tem Cadastro?</h4>
    </div>
    <div className="d-flex">
        <div>
            <h5 class="text-danger">
                <spam class="mx-1"> Não</spam>
                <i class="fasfa-times"></i>
            </h5>
            <ul class="list-unstyled">
                <li>
                    <a href="<?php echo APP; ?>">
                        <i class="fasfa-right-angle"></i>   
                        <span>Crie sua conta</span>
                    </a>
                </li>
                <li>
                    <a href="<?php echo BASENAME; ?>">
                        <i class="fasfa-right-angle"></i>   
                        <span>Saiba Mais</span>
                    </a>
                </li>                        
                <li>
                    <a target="_blank" href="<?php echo DOCS_PATH; ?>/termos-de-uso.pdf">
                        <i class="fasfa-right-angle"></i>   
                        <span>Termos de Uso</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="<?php echo DOCS_PATH; ?>/politica-de-privacidade.pdf">
                        <i class="fasfa-right-angle"></i>   
                        <span>Politica de Privacidade</span>
                    </a>
                </li>          
            </ul>
        </div>
        <div>
            <h5 class="text-sucess">
                            
                <span class="mx-1">Sim</span>
                <i class="fasfa-check"></i>
            </h5>
                
            <ul class="list-unstyled">
                <li>
                    <a href="<?php echo APP; ?>">
                        <i class="fasfa-right-angle"></i>   
                        <span>Acessar</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/orcaagora/">
                        <i class="fasfa-right-angle"></i>   
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>                        
                <li>
                    <a target="_blank" href="https://web.facebook.com/orcagora/">
                        <i class="fasfa-right-angle"></i> 
                        <i class="fab fa-facebook"></i>  
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/company/15786594/">
                        <i class="fasfa-right-angle"></i> 
                        <i class="fab fa-linkedin"></i>  
                        <span>Linkedin</span>
                    </a>
                </li>          
            </ul>
        </div>
    </div>
</div>